* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}
/*
====================
Header
==================== 
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.navbar a {
  text-decoration: none;
  color: #393433;
  margin-left: 2rem;
  font-size: 1.2rem;
  transition: all 300ms linear;
}

.navbar a:hover {
  color: black;
}
.navbar a:nth-child(5):hover > span {
  background-color: black;
}

.navbar a:nth-child(5) {
  position: relative;
}
.navbar a:nth-child(5) > span {
  background-color: #393433;
  font-size: 1rem;
  color: white;
  min-width: 1.1rem;
  min-height: 1.1rem;
  border-radius: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 300ms linear;
}
/*
====================
Books
==================== 
*/
.books {
  padding-bottom: 1.5rem;
}
.books-title {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16.625rem);
  justify-content: space-between;
  row-gap: 2rem;
}

.single-card {
  width: 16.625rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.single-card img {
  margin-bottom: 0.3rem;
}
.author {
  margin-bottom: 0.75rem;
  font-weight: 400;
}
.title {
  margin-bottom: 0.75rem;
}
.price {
  margin-bottom: 0.75rem;
}
.price span {
  font-weight: 400;
}
.bottom-links {
  display: flex;
  justify-content: space-between;
}
.bottom-links a {
  text-decoration: none;
  color: black;
  border: 1px solid #c0c0c0;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
}
/*
====================
Description Banner
==================== 
*/
body {
  position: relative;
}
.card-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  z-index: 100;
  position: fixed;
  transition: all 200ms ease-in-out;
}

.description-banner {
  background-color: white;
  width: 27rem;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  border: 1px solid #c0c0c0;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
}
.description-banner i {
  position: absolute;
  top: 0.275rem;
  right: 0.295rem;
  cursor: pointer;
  font-size: 1.6rem;
}
.description-banner h1 {
  margin-bottom: 0.8rem;
}

.inactive {
  display: none;
}
/*
====================
Bag
==================== 
*/

.bag {
  background-color: white;
  width: 33.33vw;
  height: 100vh;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;

  overflow: hidden;
  transition: all 300ms ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bag-inactive {
  transform: translate(100%);
  box-shadow: none;
}
.bag-title {
  margin: 0 auto 2rem;
  width: max-content;
}
.bag-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0.5rem;
  margin-top: 0.25rem;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
}
.item-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}
.item-right i {
  font-size: 1.2rem;
  cursor: pointer;
}
.item-left {
  width: 70%;
}
.item-left span {
  font-weight: 400;
}
.total-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 1rem;
}
.total-items h2:nth-child(2) {
  margin-right: 2.7rem;
}
.confirm {
  text-align: center;
}
.confirm a {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  border: 1px solid #c0c0c0;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
}
.bag-exit {
  font-size: 2rem;
  position: absolute;
  top: 0.65625rem;
  left: 1rem;
  cursor: pointer;
}
